.limites {
    margin: initial;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    float: left;
    width: 250px;
    height: 450px;
}

.contenedor-productos {
    float: left;
    width: 75%;
}

.btns {
    position: absolute;
    bottom: 15px;
}

.contenedor-carrito {
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 75%;
    position: fixed;
    height: 50%;
    width: 20%;
    border: black;
}

@media screen and (max-width: 1000px) {
    .contenedor-carrito {
        position: relative;
        margin: initial;
        margin-left: 5%;
        width: 80%;
    }
    .contenedor-productos {
        float: left;
        height: 50%;
        width: 100%;
    }
    .limites {
        margin: initial;
        margin-top: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        float: left;
        width: 45%;
        height: 450px;
    }
}