fieldset {
    width: 100%;
}

.container {
    margin-top: 30px;
}

.titulo {
    color: black;
    font-size: 27px;
}

.form-group {
    width: 100%;
}

.bigicon {
    font-size: 35px;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    flex-wrap: wrap;
    min-height: 100vh;
}

footer {
    background: #111;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1em;
    align-self: flex-end;
}

#message {
    min-height: 200px;
}