* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #292929;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #000102;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

.menu {
    width: 900px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

.menu img {
    width: 200px;
    height: 70px;
    float: left;
    padding: 8px;
}

.menu nav {
    float: right;
}

.menu nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
}

.menu nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.menu nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: rgb(255, 255, 255);
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

.menu nav ul li a:hover::before {
    width: 100%;
}

.carrusel {
    display: block;
    margin: auto;
    width: 100%;
}

.carrusel img {
    height: 600px;
    width: 100%!important;
}

.blog-body {
    width: 70%;
    margin: 0 auto;
}

.blog-body img {
    height: 250px;
    width: 100%
}

.progress {
    display: block;
    margin: 5px -1;
    width: 100%;
}

.card {
    float: left;
    margin: 5px;
    height: 30%;
    width: 48%;
}

.card-body {
    background: #292929;
}

.card-body p {
    color: white;
}

.title-new span {
    margin-top: 30px;
    margin-left: 10px;
}

.media img {
    width: 20%;
    height: 10%;
}

@media screen and (max-width: 713px) {
    .card {
        margin: 5px;
        height: 30%;
        width: 100%;
        float: none;
    }
}