
{% extends 'app/base.html' %} {% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/css_tips.css' %}"> 
{% endblock %} 
{% block js %} {% endblock %}

{% block contenido %} 
<div class="secciones">
    <div>
        <div class="img1"><img src="{% static 'app/img/perrito_1.jpg' %}" alt="perro"></div>
        <h2>Como cuidar a tus perritos bebe</h2>
        <p>Si tu perrita tuvo hijos, lo más probable es que te preguntes sobre qué cuidados deben de tener y como hacerlos, estos son los principales para tener en cuenta:</p><br>
        <h5>El espacio</h5> <br>
        <p>Para mantener a tus perritos recién nacidos, es necesario elegir un lugar en el que estén seguros, calentitos y comodo, tanto para la madre como para las crias.</p>
        <br> <br>
        <h5>Alimentación</h5><br>
        <p>Los recien nacidos, deben tomar leche materna, ya que contiene todos los nutrientes que necesitan para permanecer sanos y fuertes. esta también puede ser suplementadoa con leche especial para perritos, la cual se les debe de servir en una
            temperatura aproximada de 38° y deben de comer como minimo 4 veces al día. Es esencial comprobar que estos van ganando peso, en especial en sus primeras semanas de vida.</p>
        <br> <br>
        <h5>Su temperatura</h5><br>
        <p>dado que los perritos no pueden controlar su temperatura corporal (su madre es la encargada de mantenerlos calentitos con su calor corporal). Entre las dos primeras semanas deben de estar entre los 35 y 36 grados, si los perritos bajan de
            esa temperatura puede resultar muy peligroso.</p>
        <br> <br>
        <h5>Higiene</h5>
        <p>Despues de haber alimentado a ls cachorritos, es esencial estimularles la zona anogenital con una gasa humeda, con el fin de que puedan orinar y defecar. luego de haberlos estimulado, es importante limpiarlos y dejarlos bien secos.</p>
        <br> <br>
        <h5>El destete</h5><br>
        <p>A partir de la 3ra o 4ta semana, le empezaran a crecer los dientes de leche a los perritos, así, se podrían alimentar con alimentos solidos, los cuales deben de ser ablandados anteriormente con agua tibia o leche materna.</p>
        <br> <br>
        <h5>Socialización</h5><br>
        <p>entre la semana 3 y 12 los cachorros deberán de aprender a interactuar con su ambiente y todos los demás en su alrededor, es imprescindible que se acostumbren a la gente, para que despues no sean ariscos con las personas desconocidas o quizá
            un bebé u otras mascotas que puedas tener despues. </p>
    </div>
    <div class="img2"><img src="{% static 'app/img/perrito_1.jpg' %}" alt="perro"></div>
</div>
{% endblock %}
