{% extends 'app/base.html' %} {% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/css_tips.css' %}">
{% endblock %} 
{% block js %} {% endblock %}

{% block contenido %} 
<div class="secciones">
    <div>
        <div class="img1"><img src="{% static 'app/img/perro-gato-en-casa-1-t.jpg' %}" alt=""></div>
        <h2>Top nombres para tus perritos y gatitos</h2>
        <p>Sabemos que cuando adoptas a tus perritos o gatitos, es complicado elegir nombres que no sean como los típicos, como pelusa o blanquita. Así que aqui te dejamos una lista con nombres y referencias: <br> - Kuro: Significa negro en japonés,
            un lindo nombre para un perrito de raza mediana o grande. <br> - Shiro: La contraparte de kuro. Shiro es blanco en japones. <br> - Athena: nombre perfecto para una gata. athena es la diosa de la sabiduría en la mitología griega. <br> -
            Fluffy: Un nombre perfecto para un perro con mucho pelaje, ya que significa esponjoso en ingles. Además de ser una referencia al perro de 3 cabezas de hagrid, en la saga de HarryPotter.</p>
    </div>
    <div class="img2"><img src="{% static 'app/img/perro-gato-en-casa-1-t.jpg' %}" alt=""></div>
</div>
{% endblock %}
    
