<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="shortcut icon" href="{% static 'app/img/Veranum_logo.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/css_login.css' %}">
    <title>Registrar</title>

</head>

<body>
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-mb-6 offset-mb-3">
                <div class="shadow-lg card">
                    <div class="card-body">
                        <h2>Registro de usuario</h2>
                        <form action="" method="post">
                            {% csrf_token %} {{ form | crispy }}
                            <a href="{% url 'home' %}">Ir al inicio</a> |
                            <a href="{% url 'login' %}">Iniciar sección</a>
                            <br>
                            <input type="submit" value="Registrar" id="btn-ingrear" class="btn btn-success float-lg-right">
                        </form>
                    </div>
                </div>
            </div>
        </div>€
    </div>
</body>

</html>