
<div class="container">
    <div class="row">
        <div class="col-md-12 search">
            <form method="get">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placerholder="Buscar..." name='buscar'>
                        <span class="input-group-list">
                            <i class="icon icon-search"></i> &nbsp;
                            <button type="submit" class="btn btn-success">Buscar</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
