fieldset {
    width: 100%;
}

.container {
    margin-top: 30px;
}

.titulo {
    color: black;
    font-size: 27px;
}

.form-group {
    width: 100%;
}

.bigicon {
    font-size: 35px;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    min-height: 100vh;
}

#message {
    min-height: 200px;
}